*.CF3
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults
*.si4project
.vscode

*.bak*
build.txt
.settings
.tags
.tags_sorted_by_file
.force_rebuild
.xmake
build
*.o
*.d
*.a
*.map
*.nm
*.objdump
*.stackdump
*.sof
*.elf
*.flash
*.hex
*.jic
*.raw
*.image
*.imagex
*.bin
*.binx
*.exe
demo

*.pyc

